
.about-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #E2E2E2;
}

.about-page .about-content {
  display: flex;
  flex-direction: column;
  text-shadow: #E4EBE4;
  gap: 20px;
  padding: 20px;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.about-page .about-content p {
  font-weight: bold;
  font-size: 16px;
  font-family: 'georgia';
  font-weight: bold;
}


button {
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.sub-title {
  padding-right: 20px;
  color: rgb(72, 82, 168);
  font-weight: bold;
  font-size: 18px;
  font-family: 'georgia';
  font-weight: bold;
}

.links {
  padding-right: 20px;
  color: rgb(8, 10, 0);
  font-weight: bold;
  font-size: 18px;
  font-family: 'georgia';
  font-weight: bold;
}

.welcome-pic{
  clip-path: circle();
  border: 11px solid #FDBC56;
  height: 300px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 300px;
}

.profile-pic {
  clip-path: circle();
  border: 11px solid #FDBC56;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 100px;
}

#download {
  width: 200px;
  background-color: #00D1B2;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 10px;
  height: 50px;
  align-items: center;
}

.profession_page {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  background-color: #E2E2E2;
  min-height: 70vh;
}

.profession-left,
.profession-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #FFFFFF;
  margin-top: 20px;
}

.profession-left {
  background-color: #1E385B;
}

.profession-left-section1,
.profession-left-section2,
.profession-left-section3 {
  width: 300px;
}

.profession-right-section1,
.profession-right-section2,
.profession-right-section3 {
  width: 350px;
}

.profession-left-section1,
.profession-right-section1 {
  background-color: #F17400;
  min-height: 100px;
  z-index: 5;
}

.profession-left-section2 .resume-pic {
  clip-path: circle();
  border: 11px solid #F17400;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 100px;
  position: relative;
  margin-top: -20%;
  background-color: #E4EBE4;
  z-index: 10;
  margin-left: 30%;
}

.profession-right-section2 {
  height: 100px;
  padding-left: 10px;
  z-index: 10;
}

.profession-left-section3 {
  color: white;
  margin-top: -20%;
}


.profession-right-section3 {
  background-color: white;
  color: black;
  margin-top: -20%;
}

.profession-right-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.profession-right-section1 h2 {
  align-items: center;
  font-size: 30px;
  padding: 20px;
}

#column {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.column-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profession-left #column h3 {
  color: white;
  font-size: 20px;
  background-color: #F17400;
  border-radius: 12px;
  padding: 5px;
}

.profession-right #column h3 {
  font-size: 20px;
  padding: 0%;
}

.profession-right #column hr {
  border: 3px solid black;
  margin-top: -0.5px;
}

.column-content a {
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 1400px) and (min-width: 200px) {
  .download {
    width: 100%;
    background-color: #00D1B2;
    border-radius: 12px;
  }
}

.profession{
  font-size: 18px;
  color: #00D1B2;
}